body {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

body:after {
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    content: "iframe page";
    top: -10px;
    left: 50%;
    background-color: white;
    padding: 0 5px;
    transform: translate(-50%,0);
}

html,
body {
    height: 100%;
}

#vr-buttons button {
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}