body {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

html,
body {
    height: 100%;
}

#vr-buttons button {
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}